
:root {
    --font-family: "Montserrat", sans-serif;
    width: 1440px;
    height: 496px;
    background: #fff;
}

.input-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 355px;
    height: 40px;
}
input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border-radius: 4px;
    width: 272px;
    height: 40px;
}

.input-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #cfcfcf;
}

.timer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 346px;
    height: 72px;
    margin-top: 30px;
}

